# Amazon Fine Food Reviews Analysis
Data Source: https://www.kaggle.com/snap/amazon-fine-food-reviews

The Amazon Fine Food Reviews dataset consists of reviews of fine foods from Amazon .
1. Number of reviews: 568,454
2. Number of users: 256,059
3. Number of products: 74,258
4. Timespan: Oct 1999 - Oct 2012
5. Number of Attributes/Featurs/column in data: 10



 Attribute/Features Information:

1. Id: Row Id
2. ProductId: Unique identifier for the product    (74258 =unique values)
3. UserId: Unqiue identifier for the user (256059=unique values)
4. ProfileName: Profile name of the user (218418=unique values)
5. HelpfulnessNumerator :Number of users who found the review helpful
6. HelpfulnessDenominator :Number of users who indicated whether they found the review helpful or not
7. Score: Rating between 1 and 5
8. Time: Timestamp for the review


Objective: Given a new review determine/predict whether the review is positive or negative


Q) How to detemine if a review is positve or negative?

Answer: We could use the Rating/Score.A rating of 4 0r 5 could be considered as positve and a rating of 1 or 2 could be considered as negative. A rating of 3 could be considered as neutral and hence could be ignored . This is approximate or proxy way of determining the polarity(negative and positive) of a review.

# Loading the Data 
The dataset is loaded in two forms:
1. .csv file
2. SQlitedatabase

In order to load the data, we are using the SQLITEdataset as it easier to query the data and visualise it efficiently .

Here as we only want to get global sentiment of the reviews (positive or negative), we will purposefully  ignore  all the Score equal to 3 .If the score is above 3 ,then the review will be "positive".Otherwise ,it will be set to "negative"

In [1]:
# import important library
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import sqlite3
import pandas as pd
import seaborn as sns
import numpy as np
import string 
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import auc

import nltk
from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer 
from nltk.corpus import stopwords

from gensim.models import Word2Vec
from gensim.models import KeyedVectors

# Tutorial about Python regular expressions: https://pymotw.com/2/re/
import re
import pickle
from tqdm import tqdm
import os

In [2]:
#using Sqlite table to read data 
con=sqlite3.connect('database.sqlite')

#filtering only +ve and -ve review & not taking into consideration those review whose score =3
filtered_data=pd.read_sql_query(""" SELECT * FROM Reviews Where Score !=3""",con)

def partition(x):  #defining a fucntion for seperating positive and negative review
    if x<3:
        return 0
    return 1
#changing reviews with the score less than 3 to be negative & score more than 3 to be positive
actual_score=filtered_data['Score']
positive_negative=actual_score.map(partition)
# it will use the partion func we have created and chang the score in 1 or 0and 
#save in variable "Positive_negative"

filtered_data['Score']=positive_negative # it will replace  the score column with 0 and 1 (from 1,2&4,5 to 0 &1)
print('No of data points and column in our dataset:',filtered_data.shape)
filtered_data.head(3)

No of data points and column in our dataset: (525814, 10)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,1,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,0,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,1,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...

In [3]:
#Counting the no. of time the same user has given the review 
display= pd.read_sql_query("""
SELECT UserId,ProductId ,ProfileName,Time,Score,Text,COUNT(*)
FROM Reviews 
GROUP BY UserId
HAVING COUNT(*)>1""",con)
display.head()

,UserId,ProductId,ProfileName,Time,Score,Text,COUNT(*)
0,#oc-R115TNMSPFT9I7,B005ZBZLT4,Breyton,1331510400,2,Overall its just OK when considering the price...,2
1,#oc-R11D9D7SHXIJB9,B005HG9ESG,"Louis E. Emory ""hoppy""",1342396800,5,"My wife has recurring extreme muscle spasms, u...",3
2,#oc-R11DNU2NBKQ23Z,B005ZBZLT4,Kim Cieszykowski,1348531200,1,This coffee is horrible and unfortunately not ...,2
3,#oc-R11O5J5ZVQE25C,B005HG9ESG,Penguin Chick,1346889600,5,This will be the bottle that you grab from the...,3
4,#oc-R12KPBODL2B5ZD,B007OSBEV0,Christopher P. Presta,1348617600,1,I didnt like this coffee. Instead of telling y...,2

In [5]:
display.shape

(80668, 7)

In [4]:
display['COUNT(*)'].sum() #total no. of distince user give the reviews

393063

# Exploratory Data Analysis

### Data Deduplication:
It is observed that reviews has many deplicate entries.Hence it was neccessary toh remove duplicates entries inorder to get the unbaised results for the analysis of data.

In [5]:
display=pd.read_sql_query("""
SELECT * FROM Reviews WHERE Score !=3 AND Userid="AR5J8UI46CURR" 
ORDER BY ProductId""",con)
display.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,78445,B000HDL1RQ,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
1,138317,B000HDOPYC,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
2,138277,B000HDOPYM,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
3,73791,B000HDOPZG,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
4,155049,B000PAQ75C,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...

As can be seen above the same user has multiple reviews of the with the same values for HelpfulnessNumerator, HelpfulnessDenominator, Score, Time, Summary and Text and on doing analysis it was found that

ProductId=B000HDOPZG was Loacker Quadratini Vanilla Wafer Cookies,8.82-Ounce Packages (Pack of 8)

ProductId=B000HDL1RQ was Loacker Quadratini Lemon Wafer Cookies, 8.82-Ounce Packages (Pack of 8) and so on

It was inferred after analysis that reviews with same parameters other than ProductId belonged to the same product just having different flavour or quantity. Hence inorder to reduce reduntancy it was decided to eleminate the rows having same parameters.

The method used for the same was that we first sort the data according to ProductId and then just keep the first similiar product reviews and delete the others .This method ensures that there is only one representatives for each product and deduplication without sorting would lead to possibility of different reprsentatives still existing for the same product.

In [6]:
# Sorting data according to ProductId in acsending order
sorted_data= filtered_data.sort_values('ProductId',axis=0,ascending=True,inplace=False,kind='quicksort',na_position='last')
sorted_data.shape

(525814, 10)

In [7]:
final_data=sorted_data.drop_duplicates(subset={"UserId","ProfileName" , "Time","Text"},keep='first',inplace=False)
final_data.shape

(364173, 10)

In [8]:
#Checking how much % of data stil remains:
(final_data['Id'].size*1.0)/(filtered_data['Id'].size*1.0)*100

69.25890143662969

<b> Observation </b>: It has been seen that in few rows given below the value of  HelpfulnessNumerator is greater than HelpfulnessDenominator which is practically impossible hence these rows are removed from the calculation.

In [9]:
display=pd.read_sql_query("""SELECT * From Reviews Where Score !=3 
AND Id=44737 or Id=64422 ORDER BY ProductId
""" ,con)
display.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,64422,B000MIDROQ,A161DK06JJMCYF,"J. E. Stephens ""Jeanne""",3,1,5,1224892800,Bought This for My Son at College,My son loves spaghetti so I didn't hesitate or...
1,44737,B001EQ55RW,A2V0I904FH7ABY,Ram,3,2,4,1212883200,Pure cocoa taste with crunchy almonds inside,It was almost a 'love at first bite' - the per...

In [10]:
#Keeping only that data whose HelpfulnessNumerator<=HelpfulnessNumerator
final_data=final_data[final_data['HelpfulnessNumerator']<=final_data['HelpfulnessNumerator']]

In [11]:
#How many positive and negative reviews are present in the dataset ?
print('There are',final_data['Score'].value_counts()[1],'postive points and' ,final_data['Score'].value_counts()[0], 'negative points')

There are 307063 postive points and 57110 negative points

# Text Preprocessing.
Till we have finished data deduplication ,now we will to preprocessing part before we go for further analysis and making the prediction models .

Hence in Preprocessing part we will do the the following things:

1. Removing of HTML tags.
2. Removing any punctuation or spme special character like , or . or # etc.
3. Check the word is made of made up of english letter and is not alpha-numeric
4. Check to see if the length of the word is greater than 2(as it was research that there is no adjective in 2 letters).
5. Convert the words to lowercase .
6. Remove the stopwords
7. Using Snowball Stemming the word (now using Porter Stemming as Snowball Stemming is better than Porter Stemming).

In [12]:
#finding the html tags in sentences
i=0 
for review in final_data['Text']:
    if(len(re.findall('<.*?>',review))):
        print(i)
        print(review)
        break
    i+=1

6
I set aside at least an hour each day to read to my son (3 y/o). At this point, I consider myself a connoisseur of children's books and this is one of the best. Santa Clause put this under the tree. Since then, we've read it perpetually and he loves it.<br /><br />First, this book taught him the months of the year.<br /><br />Second, it's a pleasure to read. Well suited to 1.5 y/o old to 4+.<br /><br />Very few children's books are worth owning. Most should be borrowed from the library. This book, however, deserves a permanent spot on your shelf. Sendak's best.

In [13]:
import re 
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

stop_words =set(stopwords.words('english')) # creating set of stopswords
print(stop_words) #it will show all the stopwords in NLTK
exclding_stop=['against','not','don', "don't",'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't",
             'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 
             'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't",'shouldn', "shouldn't", 'wasn',
             "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
print('****'*15)
stop_words=[word for word in stop_words if word not in exclding_stop]
print(' ')
print(stop_words)

snow_stem=nltk.stem.SnowballStemmer('english') #intialising the snowball stemmer
print(' ')
print('****'*15)
print('Base word of tasty:',snow_stem.stem('tasty')) # it will tell us the base word or do stemming

# creating a function to clean the word of any html-tags. The function will remove the html tag and evrything between them with "1" space 
def cleanhtml(sentence):
    cleanr=re.compile('<.*?>')
    cleantext=re.sub(cleanr,' ',sentence)
    return cleantext
def cleanpunc(sentence):
    clean=re.sub(r'[?|!|\'|"|#]',r'',sentence)
    cleaned=re.sub(r'[.|,|)|(|\|/]',r'',clean)
    return cleaned

{'our', 'until', "didn't", 'no', 'should', "you're", 'your', "won't", 't', 'down', "that'll", 'both', 'any', 'm', 'itself', 'while', "isn't", 'too', 'his', 'mustn', 'doesn', 'further', 'again', 'but', 'don', 'is', 'o', 'i', "hasn't", 'the', 'from', 'where', 'before', 'such', 'a', 'are', 'having', 'under', 'ain', 'at', 'their', 'by', 'hadn', 'or', 'there', 'which', 'been', 'all', 'whom', 'it', "needn't", 'how', "you've", 'we', "mightn't", 'between', 'below', 'with', 'than', "should've", 'weren', 'an', 'd', 're', 'her', 'few', 'herself', 'him', "couldn't", 'yours', 'myself', "you'd", 'shouldn', 'on', 'yourself', 'couldn', "haven't", 'once', 'had', "aren't", "she's", 'only', 'its', 'that', 'them', 'were', 'more', 'why', "hadn't", 'each', 'she', 'hers', 'isn', 'did', 'after', 'some', 'be', 'those', 'theirs', 'do', 'who', 'same', 'aren', 'will', 'to', "you'll", 'won', "don't", 'over', 'my', 'most', 'in', 'shan', 'about', 'now', 'ma', 'they', 'mightn', 'yourselves', 'into', 'against', 's', 'you', 'does', 'ourselves', 'can', "it's", 'own', 'haven', 'of', 'nor', 'these', 'because', "weren't", 'up', 'for', "mustn't", 'off', 'me', 'as', 'above', "shouldn't", "wasn't", 'here', 'y', 'being', 'not', 'ours', 'what', 'doing', 'themselves', 'was', 'out', 'other', 'if', 'through', 'wouldn', 'himself', 'didn', 'and', 'so', 'needn', 'he', 'wasn', 'very', 'll', "shan't", 'then', 'just', 'during', "wouldn't", 'when', "doesn't", 'has', 'hasn', 'am', 'this', 'have', 've'}
************************************************************

['our', 'until', 'no', 'should', "you're", 'your', 't', 'down', "that'll", 'both', 'any', 'm', 'itself', 'while', 'too', 'his', 'further', 'again', 'but', 'is', 'o', 'i', 'the', 'from', 'where', 'before', 'such', 'a', 'are', 'having', 'under', 'at', 'their', 'by', 'or', 'there', 'which', 'been', 'all', 'whom', 'it', 'how', "you've", 'we', 'between', 'below', 'with', 'than', "should've", 'an', 'd', 're', 'her', 'few', 'herself', 'him', 'yours', 'myself', "you'd", 'on', 'yourself', 'once', 'had', "she's", 'only', 'its', 'that', 'them', 'were', 'more', 'why', 'each', 'she', 'hers', 'did', 'after', 'some', 'be', 'those', 'theirs', 'do', 'who', 'same', 'will', 'to', "you'll", 'over', 'my', 'most', 'in', 'shan', 'about', 'now', 'ma', 'they', 'yourselves', 'into', 's', 'you', 'does', 'ourselves', 'can', "it's", 'own', 'of', 'nor', 'these', 'because', 'up', 'for', 'off', 'me', 'as', 'above', 'here', 'y', 'being', 'ours', 'what', 'doing', 'themselves', 'was', 'out', 'other', 'if', 'through', 'himself', 'and', 'so', 'he', 'very', 'll', "shan't", 'then', 'just', 'during', 'when', 'has', 'am', 'this', 'have', 've']

************************************************************
Base word of tasty: tasti

In [14]:
import os 
if not os.path.isfile('final1.sqlite'):
    final_string=[]
    all_positive_words=[]   # storing all the words from +ve review .
    all_negative_words=[]   # storing all the words from -ve review .
    for i ,review in enumerate(tqdm(final_data['Text'].values)):
        filter_sentences=[]
        review=cleanhtml(review)
        for word in review.split():
            #Using cleanpunc(w).split(),, one more split function here example:w="abc.def" ,cleanpunc will return "abc def"
            #if we dont use .split() function then we will be considering "abc def" as a single word, 
            #but if we use .split() function we will get "abc",def
            for clean_words in cleanpunc(word).split():
                if((clean_words.isalpha())&(len(clean_words)>2)):
                    if(clean_words.lower() not in stop_words):
                        s=(snow_stem.stem(clean_words.lower())).encode('utf-8')
                        filter_sentences.append(s)
                        if (final_data['Score'].values[i])==1:
                            all_positive_words.append(s)  #list of all words used to describe positive reviews
                        if (final_data['Score'].values[i])==0:
                            all_negative_words.append(s) #list of all words used to describe negative reviews 
                    else :
                        continue
                else:
                    continue
        str1=b" ".join(filter_sentences) # final cleaned words
        final_string.append(str1)
        i+=1

# Other way of cleaning text or Doing preprocessing part

In [19]:
# https://stackoverflow.com/a/47091490/4084039
import re
from bs4 import BeautifulSoup
def decontracted(phrase):
    # specific
    phrase = re.sub(r"won\'t", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

In [20]:
from tqdm import tqdm
preprocessed_review=[]
#tqdm is for printing the status bar
for sentence in tqdm(final_data['Text'].values):
    sentence=re.sub(r"https\S+","",sentence)
    sentence=BeautifulSoup(sentence,'lxml').get_text()
    sentence=decontracted(sentence)
    sentence=re.sub("\S*\d\S*", "",sentence).strip()
    sentence=re.sub('[^A-Za-z]+', ' ',sentence)
    # https://gist.github.com/sebleier/554280
    sentence=''.join(e.lower() for e in sentence.split() if e.lower() not in stop_words)
    preprocessed_review.append(sentence.strip())

  0%|                                                                                                                                      | 0/364173 [00:00<?, ?it/s]

FeatureNotFound: Couldn't find a tree builder with the features you requested: lxml. Do you need to install a parser library?